<h1>Welcome to Numpy Life</h1>


<h3>Checking Numpy version</h3>
<button (click) = "printVersion()">Get Version</button>
<p>{{responseData_version.example}}</p>


<h3>NumPy ndarray Object</h3>
<button (click) = "numpyArray()">Get ndarray</button>
<p>{{responseData_array.example_list}}</p>
<p>{{responseData_array.example_tup}}</p>

<h4>Dimensions in Arrays</h4>
<p>Note :- A dimension in arrays is one level of array depth (nested arrays).</p>

<h5>0-D Arrays</h5>
<button (click) = "zeroDArray()">Get 0-D Arrays</button>
<p>{{responseData_ZeroDarray.example}}</p>

<h5>1-D Arrays</h5>
<button (click) = "numpyArray()">Get 1-D Arrays</button>
<p>{{responseData_array.example_list}}</p>

<h5>2-D Arrays</h5>
<button (click) = "twoDArray()">Get 2-D Arrays</button>
<p> Note:- These are often used to represent matrix or 2nd order tensors.</p>
<p>{{responseData_twoDarray.example}}</p>

<h5>3-D Arrays</h5>
<button (click) = "threeDimArray()">Get 3-D Arrays</button>
<p>{{responseData_threeDarray.example}}</p>

<h5>Check Number of Dimensions?</h5>
<button (click) = "checkDimArray()">Check Dims</button>
<p>{{responseData_checkDimArray.example}}</p>

<h5>Higher dimension</h5>
<button (click) = "higherDimArray()">Check Higher Dims</button>
<p>{{responseData_HigherDimArray.example}}</p>
<p>{{responseData_HigherDimArray.actual}} {{responseData_HigherDimArray.dim}}</p>
