<h1>Welcome to Numpy Life</h1>


<h3>Checking Numpy version</h3>
<button (click) = "printVersion()">Get Version</button>
<p>{{responseData_version.example}}</p>


<h3>NumPy ndarray Object</h3>
<button (click) = "numpyArray()">Get ndarray</button>
<p>{{responseData_array.example_list}}</p>
<p>{{responseData_array.example_tup}}</p>

<h4>Dimensions in Arrays</h4>
<p>Note :- A dimension in arrays is one level of array depth (nested arrays).</p>

<h5>0-D Arrays</h5>
<button (click) = "zeroDArray()">Get 0-D Arrays</button>
<p>{{responseData_ZeroDarray.example}}</p>

<h5>1-D Arrays</h5>
<button (click) = "numpyArray()">Get 1-D Arrays</button>
<p>{{responseData_array.example_list}}</p>

<h5>2-D Arrays</h5>
<button (click) = "twoDArray()">Get 2-D Arrays</button>
<p> Note:- These are often used to represent matrix or 2nd order tensors.</p>
<p>{{responseData_twoDarray.example}}</p>

<h5>3-D Arrays</h5>
<button (click) = "threeDimArray()">Get 3-D Arrays</button>
<p>{{responseData_threeDarray.example}}</p>

<h5>Check Number of Dimensions?</h5>
<button (click) = "checkDimArray()">Check Dims</button>
<p>{{responseData_checkDimArray.example}}</p>

<h5>Higher dimension</h5>
<button (click) = "higherDimArray()">Check Higher Dims</button>
<p>{{responseData_HigherDimArray.example}}</p>
<p>{{responseData_HigherDimArray.actual}} {{responseData_HigherDimArray.dim}}<p>

<h3>NumPy Array Indexing</h3>
<button (click) = "arrayAccess()">Array Indexing</button>
<p>{{responseData_AccessArray.example}}</p>
<p>{{responseData_AccessArray.actual}}</p>

<h3>NumPy 2-D Array Indexing</h3>
<button (click) = "Access2DArray()">2-D Array Indexing</button>
<p>{{responseData_Access2DArray.example}}</p>
<p>{{responseData_Access2DArray.actual}}</p>

<h3>NumPy 3-D Array Indexing</h3>
<button (click) = "Access3DArray()">3-D Array Indexing</button>
<p>{{responseData_Access3DArray.example}}</p>
<p>{{responseData_Access3DArray.actual}}</p>

<h3>NumPy Array Negative Indexing</h3>
<button (click) = "ArrayNegativeIndexing()">Array negative Indexing</button>
<p>{{responseData_AccessNegativeIndexing.example}}</p>
<p>{{responseData_AccessNegativeIndexing.actual}}</p>

<h3>NumPy Array Slicing</h3>
<button (click) = "Arrayslicing()">Array Slicing</button>
<p>{{responseData_Arrayslicing.example}}</p>
<p>{{responseData_Arrayslicing.actual}}</p>

<h4>NumPy Array Slicing Step</h4>
<button (click) = "ArraySlicingStep()">Slicing Step</button>
<p>{{responseData_ArraySlicingStep.example}}</p>
<p>{{responseData_ArraySlicingStep.actual}}</p>

<h4>NumPy Array 2-D Slicing </h4>
<button (click) = "Slicing2DArray()">Slicing Step</button>
<p>From the second element, slice elements from index 1 to index 4 (not included):</p>
<p>{{responseData_Slicing2DArray.example}}</p>
<p>{{responseData_Slicing2DArray.actual}}</p>

<h4>Creating Arrays With a Defined Data Type</h4>
<button (click) = "ArraywithDefinedDataType()">get data type</button>
<p>{{responseData_ArrayWithDefinedDataTypes.example}}</p>
<p>{{responseData_ArrayWithDefinedDataTypes.actual}}</p>

<h4>Converting Data Type on Existing Arrays</h4>
<button (click) = "typeConvertionArray()">get data type</button>
<p>{{responseData_typeConversionArray.example}}</p>
<p>{{responseData_typeConversionArray.actual}}</p>